################################################################################
################################################################################
# 
# Define host-specific values for these variables:
# 
# freenashost : defaults to short hostname returned by 'hostname -s'
# esxihost    : user-defined  
# datastores  : user-defined  
# logdir      : user-defined (and must exist before use)  
#
################################################################################
################################################################################

freenashost=$(hostname -s)

# Edit to suit your needs and environment

# This is an example, showing the setup for these AIO systems:
#
# FreeNAS host 'bacon' running on ESXi host 'fritz' with datastores 'Bacon' and 'Bacon block'
# FreeNAS host 'boomer' running on ESXi host 'felix' with datastore 'bOomer'
# datastores are delimited by semicolon
#
# Configured to store logs in unique directories specified by 'logdir'

if [ "${freenashost}" = "bacon" ]; then
  esxihost=fritz
  datastores="Bacon;Bacon block"
  logdir=/mnt/tank/systems/scripts/logs/bacon
elif [ "${freenashost}" = "boomer" ]; then
  esxihost=felix
  datastores="bOomer"
  logdir=/mnt/tank/systems/scripts/logs/boomer
else 
  echo "Undefined system!"
  exit 1
fi
